<div class="category-card" ng-click="handleCardClick(category.id)">
  <button class="btn-remove" ng-click="removeCategory($event, category.id)">
    <i class="bi bi-trash"></i>
  </button>
  
  <div class="card-content">
    <div class="card-icon">
      <i class="bi bi-folder"></i>
    </div>
    
    <h3 class="card-title" 
        title="{{category.name}}"
        data-length="{{category.name.length <= 20 ? '0-20' : (category.name.length <= 40 ? '21-40' : '41+')}}">
      {{category.name}}
    </h3>
    
    <p class="card-subtitle">{{data.phrases[category.id].length}} frases</p>
  </div>
</div>